<!-- <h1><%= @song["title"] %></h1>
<h1><%= @song["user-id"] %></h1>
<h1><%= @song["date_created"] %></h1>
<h1><%= @song["category_id"] %></h1>
<h1><%= @song["edit_id"] %></h1>

<p><%= @song["content"] %></p> -->

<h1><%= @song.title %></h1>
<p>written by: <%= @song.user.name %></p>
<p>contact email: <%= @song.user.email %></p>
<p><%= @song.content %></p>
<p>created at: <%= @song.date_created %></p>
<p>last version added: <%= @song.last_version_date %></p>
</p>


<% if @user %>
<a href="/songs/<%= @song.id %>/edit">Edit here, <%= @user.name %>!</a>

<a href="/songs">Back</a>
<% else %>

<a href="/">Get Back Homeward</a>
<% end %>